html
  head
    title= title
    link(rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js")
    script(src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js")
    link(rel='stylesheet', href='/stylesheets/login.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
body
    include ../component/navbar.jade
    div.formContent
        h2 My Followers:
        -for(var i = 0; i < list.length ;++i){
            a(href="/user/"+list[i].follow)
                div.card.space
                    div.card-body
                    <h5 class="card-title text-muted">#{list[i].follow}</h5>
        -}