extends layout
block content
  head
    title = Homepage
  body#wrapper
    h1 ProEvento
    ul
      li
        a(href = "Expolore") Explore Events
      li
        - search = {"name": "eName"}
        span Search By EventID
        input(name = search.name)
    h2 About us
    p ProEvento is designed to serve as a web application that combines a social networking app with Zoom.
    p You can set up events or join other's events. We are here to connect you!