html
  head
    title= 'ProEvento'
    link(rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js")
    script(src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js")
    link(rel='stylesheet', href='/stylesheets/login.css')
    link(rel='stylesheet', href='/stylesheets/index.css')
    

body
    include ./component/navbar.jade
    div.exploreSection
      h1 Explore