h2 people search outcome: 

-for(var i = 0; i < list.length ;++i){
    a(href="/event/"+list[i].event_id)
        div.card.space
            div.card-body
            <h5 class="card-title text-muted">#{list[i].title}</h5>
            <h6 class="card-subtitle mb-2 text-muted">#{list[i].category}</h6>
            <p class="card-text text-muted">#{list[i].description}</p>
-}