nav.navbar.navbar-default#header
    div.container-fluid
        div.navbar-header
            a.navbar-brand(href="/") ProEvento
        ul.nav.navbar-nav.navbar-right
            li
                a(href="/myEvent") My Event
                    span.glyphicon 
            li
                a(href="/addEvent") Create One!
                    span.glyphicon 
            li
                a(href="/addEvent") My Profile
                    span.glyphicon 
