h2 people search outcome: 
-for(var i = 0; i < list.length ;++i){
    a(href="/event/"+list[i].userName)
        div.card.space
            div.card-body
            <h5 class="card-title text-muted">#{list[i].userName}</h5>
-}