.formContent {
  border-radius: 10px 10px 10px 10px;
  background: #d0d0d0;
  margin-left: 30%;
  width: 35%;
  padding: 25px;
}
.login {
  margin-top: 7px;
  width: 80px;
  height: 30px;
}
.link {
  margin-top: 7px;
}
h2 {
  font-family: fantasy;
}
p {
  margin: 0 0 3px;
}
.space {
  background: #fcf8e3;
  border-radius: 10px 10px 10px 10px;
  padding: 3px;
  margin-top: 10px;
  cursor: pointer;
}
.eventBox {
  padding-top: 0px;
}
.eventImg {
  width: 90%;
  height: 30%;
}
a:hover {
  text-decoration: none;
}
#delete {
  float: right;
  margin-right: 10%;
  margin-top: 5px;
}
#backbutton {
  margin-top: 5px;
  margin-left: 2px;
}
#mark {
  margin-top: 5px;
  display: inline-block;
  cursor: pointer;
}
#mark:hover {
  text-decoration: underline;
}
#innerButton {
  display: inline-block;
}
#join {
  margin-right: 10px;
  margin-left: 5px;
}
.rightButton {
  float: right;
  margin-top: 10px;
}
#firstPart {
  display: block;
}
#secondPart {
  display: none;
}
#thirdPart {
  display: none;
}
#forthPart {
  display: none;
}
#button {
  text-align: right;
}
#button_right {
  float: right;
  display: inline;
}
